        <h4>Sign In</h4>
        <form action="/action_page.php" target="_blank">
          <p><input #username class="w3-input w3-border" type="text" placeholder="username" name="username" required></p>
          <p><input #email class="w3-input w3-border" type="email" placeholder="Email" name="Email" required></p>
          <p><input #password class="w3-input w3-border" type="password" placeholder="Password" name="Message" required></p>
          <p><input #passwordconf class="w3-input w3-border" type="password" placeholder="Please re-enter your chosen passeord" name="Message" required></p>
          <p>
            <select #city class="w3-input w3-border" data-style="btn-info" name="City" required>
              <option value="Bat-Yam">Bat-Yam</option>
              <option value="Rishon le zion">Rishon le zion</option>
              <option value="Rhovot">Rhovot</option>
              <option value="Ramat gan">Ramat gan</option>
              <option value="Yavne">Yavne</option>
              <option value="Ness ziona">Ness ziona</option>
            </select>
          </p>
          <button (click)="ngSingIn(username,email,password,passwordconf,city)" type="submit" class="w3-button w3-block w3-black">SignIn</button>
        </form>
