<sn-header></sn-header>
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:250px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <div class="w3-container w3-text-grey" id="jeans">
      <h1 class="w3-bar-item w3-text-grey w3-padding">Our Shopping List</h1>
    </div>
    <mat-accordion *ngFor="let order of orders">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="w3-button w3-block w3-left-align w3-light-grey">
          <mat-panel-title>
            {{order.dateCreated}}
          </mat-panel-title>
          <mat-panel-description>
            {{order.totalPrice}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table class="w3-table ">
          <tr>
            <th><h4><b>Product Name</b></h4></th>
            <th><h4><b>Product Price</b></h4></th>
            <th><h4><b>Product Quantity</b></h4></th>
            <th><h4><b>Product Category</b></h4></th>
          </tr>
          <tr *ngFor="let o of order.cart">
            <th><h4>{{o.name}}</h4></th>
            <th><h4>{{o.price}}</h4></th>
            <th><h4>{{o.quantity}}</h4></th>
            <th><h4>{{o.category}}</h4></th>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
