<sn-header></sn-header>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  <div class="w3-container w3-text-grey" id="jeans">
    <h1 class="w3-bar-item w3-text-grey w3-padding">Our Shopping List</h1>
  </div>
  <div *ngIf="ourShoppingProducts.length!=0"  class="w3-container">
    <table class="w3-table w3-striped">
      <tr>
        <th><h4><b>Product Name</b></h4></th>
        <th><h4><b>Price</b></h4></th>
        <th><h4><b>Quantity</b></h4></th>
        <th><h4><b>Full Price</b></h4></th>
      </tr>
      <tr *ngFor="let shopping of ourShoppingProducts">
        <th>{{shopping.name}}</th>
        <th>{{shopping.price}}</th>
        <th>{{shopping.quantity}}</th>
        <th>{{shopping.quantity*shopping.price}}</th>
        <th><button (click)="onDelete(shopping._id)" class="w3-bar-item w3-button w3-padding">Delete</button></th>
        <th><button [routerLink]="['/shopping-cart-edit',shopping._id,shopping.name,shopping.price,shopping.quantity,shopping.category]" class="w3-bar-item w3-button w3-padding">Edit</button></th>
      </tr>
    </table>
    <button (click)="onPayment()" type="submit" class="w3-bar-item w3-button w3-black">Payment</button>
    <button (click)="onDeleteCart()" type="submit" class="w3-bar-item w3-button w3-black">Delete Cart</button>
  </div>
  <div *ngIf="ourShoppingProducts.length==0">
    your cart is empty !!
  </div>
</div>
