<div #gmap class="w3-col s4">
  <!--<h4></h4>
  -->
  <!--  <h4>Our Braches</h4>
  <!--The div element for the map -->
  <!--Load the API from the specified URL
  * The async attribute allows the browser to render the page while the API loads
  * The key parameter will contain your own API key (which is not needed for this tutorial)
  * The callback parameter executes the initMap() function
  -->
  <agm-map [latitude]="31.970131" [longitude]="34.772044">
     <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
  </agm-map>
</div>
